.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.play-btn-div {
  display: flex;
  height: 85px;
  justify-content: center;
}

.play-again-btn {
  margin-top: 50px;
  height: 40px;
  width: 90px;
  border: 0px solid white;
  background-color: #EEEEEE;
  color: #4ECCA3;
  border-radius: 16px;
}

.play-again-btn:hover{
  background-color: #C70039;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

